/* CSS Del navegador */

li{
     list-style-type: none; 
}



.presentacion{ 
     /*Centrar Div*/
     display: flex;
     justify-content: center;
     align-items: center;

     margin-top: 2%;
     margin-bottom: 25px; 
}

/* CSS Del contenido */
.Language-python{
     border-style: solid;
     padding: 20px;
     margin-bottom: 10%;
     margin-left: 50px;
     width: 30pc;
}

.code{
     margin-left: 5%;
     line-height : 2px;
     font-size: small;
     color: black;
   }


#anidados{
     text-indent: 2em;
     text-align: left;
}